#mp_container h1 {
	font-size: 20px;
	font-weight: lighter;
	color: #4d4d4d;
}

#cab_mensajes {
	font-size: 18px;
	font-weight: lighter;
	color: #4277d9;
}

#bordertable {
	border: 0px none;
}

#bordertable tr{
	line-height: 25px;
}

#bordertable td{
	cursor: pointer;
}

#bordertable tr a, #bordertable tr span{
	padding: 0px 4px;
}

#bordertable tr:nth-child(odd){
	background-color: #EBEBEB;
}

#bordertable tr:nth-child(even){
	background-color: #D1D1D1;
}

#bordertable tr:nth-child(even):hover, #bordertable tr:nth-child(odd):hover{
	background-color: #A3A3A3;
}

#bordertable tr:nth-child(1){
	background-color: white;
}

#bordertable tr:nth-child(1):hover{
	background-color: white;
}

#mensaje_recibido {
	border: 0px solid ;
}
#mensaje_recibido td {
	border:0px ;
	display:inline-block;
}

#mensaje_recibido tr{
	line-height: 25px;
}

#mpfriend {
	list-style:none;
	border:1px solid white;
	background-color:rgb(219, 219, 219);
	width:75%;
	margin:0 auto;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}

input {
	margin:0 auto;
}

#topic_mp, #au_receiver {
	position: relative;
	width: 80%;
	height: 5%;
	border-radius: 7px;
	border: 1px solid #cccccc;
}

.inputbox {
	position: relative;
	width: 80%;
	height: 20%;
	border-radius: 7px;
	border: 1px solid #cccccc;
}

#namerec {
	position:relative;
	bottom:0px;
	right:50px;

}

#nombre {
	position:relative;
	bottom:42px;
	left:85px;
	
}

#asunto {
	position:relative;
	bottom:6px;
	left:4px;
}



#mp_container, #inboxin{
	position: relative;
	width: 65%; 
	text-align: left;
	background-color: #fff;
	border-radius: 7px;
	margin-top: 1%;
	left: 0.5%;
	padding: 10px;
	float: left;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);	-moz-box-shadow: 0 1px 2px hsla(0,0%,0%,0.2);	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}	

#sidebar_mp {
	position: relative;
	width: 24.5%;
	padding: 10px;
	margin-top: 1%;
	background-color: #ffffff;
	float: left;
	border-radius: 7px;
	text-align: center;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);	-moz-box-shadow: 0 1px 2px hsla(0,0%,0%,0.2);	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

#sidebar_mp #second-a{
	padding: 10px 15px;
	margin-top: 10px;
}

#sidebar_mp a{
	float: left;
	background-color:#ba2323;
	padding:10px;
	color: white;
	position:relative;
	text-decoration:none;
	border: solid 1px #831212;
	background: -webkit-linear-gradient(#3babfa, #0081dc);
	background: -moz-linear-gradient(#3babfa, #0081dc);
	background: -o-linear-gradient(#3babfa, #0081dc);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 2px hsla(0,0%,0%,0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

#entrada{
	margin: 5px 0px 0px 10px;
}

#salida{
	margin: 19px 0px 0px 10px;
}

#sidebar_mp a:active {
    padding-bottom:9px;
    padding-left:10px;
    padding-right:10px;
    padding-top:11px;
    top:1px;
    background: -webkit-linear-gradient(#0081dc, #3babfa);
	background: -moz-linear-gradient(#3babfa, #0081dc);
	background: -o-linear-gradient(#0081dc, #3babfa);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 2px hsla(0,0%,0%,0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

#todo {
	position: relative;
	left: 1%;
}
#nombrep, #asunto, #fecha, #eliminar {
	position: relative;
	left: 0.5%;
}

#imagen img{
	width:70px;
	height:70px;
	float:left;
}
